@using _911Medical.Domain.Entities
@model IEnumerable<_911Medical.WebApp.Models.TripViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFullName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.StartAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.StartAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleRegNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TripStatusName)
            </td>
            <td>
                @if (item.Status == TripStatus.Queued) {
                    <a asp-action="Dispatch" asp-route-id="@item.Id">Dispatch</a>
                }
             @*   <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
